
html,body {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 1rem;
}

.navbar {
    height: 66px;
}

.mainContent {
    margin-top: 66px;
}

.btn-hairy-primary {
    border: none;
    border-radius: 25px;
    padding: 14px;
    color: black;
    background-color: white;
}

.btn-hairy-primary:hover {
    border: none;
    border-radius: 25px;
    padding: 14px;
    color: white;
    background-color: #2f2f2f;
}


.btn-hairy-danger {
    border: none;
    border-radius: 25px;
    padding: 14px;
    color: white;
    background: rgba(220, 53, 69, 0.82);
}

a {
    text-decoration: none;
    color: white;
}

footer {
    bottom: 0;
    color: black;
    font-size: 1rem;
    padding: 0.5rem
}
