@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}


h1, h2, h3, p {
    margin: 0;
}

section {
    padding: 7em 0;
}
.container {
    width: 85%;
    margin: 0 auto;
    max-width: 65em;
}

.split {
    display: flex;
    gap: 1em;
    flex-width: wrap;
}

.split > * {
    flex-basis: 60em;
}

.spacing>*+* {
    margin-top: 2rem;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: .5em 1.25em;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-color: #D5AF36;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: .25em;
    transition: transform 250ms ease-in-out,
    opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #000000;
    margin-bottom: 3rem;
    font-weight: bold;
}

.hero {
    color: white;
    text-align: center;
    padding: 15em 0;
    background:
    radial-gradient(#444,#111);

}

.featured {
    background:radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
}
.featured__item {
    display: flex;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;

}

.featured__item:hover,
.featured__item:focus {
    transform: scale(.9);
}

.featured__item::after {
    content: '';
    position: absolute;
    top: -10%;
    right: -5%;
    border-radius: 5%;
    z-index: -1;

}

.product {
    text-align: center;
}



