.table-profil {
    border-radius: 20px;
}

#title-div {
    background: white;
    padding: 20px;
    border-radius: 20px;
}

.profil {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
}